include ../../components/header/header.pug
include ../../components/footer/footer.pug

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block title
      title Table reservation
  body(class='page')
    block header
      +header()
    .page__wrapper
      block content
    +footer()