include @components/header/header.pug
include @components/footer/footer.pug
include @components/modular-form/modular-form.pug
include @components/message/message.pug

doctype html
html(lang='nl')
  head
    meta(charset='utf-8')
    block title
      title Table reservation
  body(class='page')
    div(class='wrapper')
      div(class='content')
        block header
          +header()
        .page__wrapper
          block content
        +modular-form()
        +message()
        +footer()