.quote-slider {
  width: 100%;
  max-width: 1124px;
  font-family: $font;
  display: flex;
  align-items: center;

  &__prev,
  &__next {
    width: 70px;
    height: 70px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;

    &:hover {
      .quote-slider__icon-prev,
      .quote-slider__icon-next {
        stroke: #d3b47f;
      }
    }
  }

  &__prev {
    margin-right: 20px;
    justify-content: flex-start;
  }

  &__next {
    right: 0px;
    margin-left: 20px;
    justify-content: flex-end;
  }

  &__icon-prev,
  &__icon-next {
    stroke: $color-white;
  }

  &__icon-next {
    transform: rotate(-180deg);
  }

  &__wrapper {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  &__quote {
    margin: 0px;
  }

  &__icon-quote {
    margin-bottom: 34px;
  }

  &__title {
    font-weight: 600;
    @include font-rem(36);
    line-height: 40px;
    color: #d3b47f;
    text-align: center;
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 31px;
  }

  &__author {
    font-weight: 600;
    @include font-rem(24);
    line-height: 40px;
    letter-spacing: 0.245em;
    text-transform: uppercase;
    color: #d3b47f;
    text-align: center;
  }
}
