$color-outline: $color-white;
$color-button: $color-white;
$background-button: #3a4574;
$background-hover-button: #2a3152;

.button {
  width: 100%;
  max-width: 270px;
  font-family: $font;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $color-button;
  background-color: $background-button;
  padding: 38px 64px 38px 64px;
  border: 0px;
  cursor: pointer;

  @include media-breakpoint-down($sm) {
    padding: 28px 54px 28px 54px;
  }

  &:hover {
    background-color: $background-hover-button;
  }

  &:focus {
    outline: 2px solid $color-outline;
    outline-offset: 4px;
  }

  &_type {
    &_button {
      &:hover {
        background-color: $background-hover-button;
      }

      &:focus {
        outline: 2px solid $color-outline;
        outline-offset: 4px;
      }
    }
  }

  @include media-breakpoint-down($lg) {
    &:focus {
      outline: 2px solid $color-black;
      outline-offset: 4px;
    }
  }
}
