$color-outline: $color-white;
$color-border-link: $color-white;
$color-link: $color-white;

.social {
  display: flex;
  flex-direction: row;

  &__item {
    margin-left: 25px;

    &:first-child {
      margin-left: 0px;
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-border-link;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-link;

    &:hover {
      color: $color-link-hover;
      border: 1px solid $color-link-hover;
    }

    &:focus {
      outline: 2px solid $color-outline;
      outline-offset: 4px;
      color: $color-link-hover;
      border: 1px solid $color-link-hover;
    }
  }
}
