$color-outline: $color-white;
$color-border-link: $color-white;
$color-link: $color-white;

.social {
  display: flex;
  flex-direction: row;

  &__item {
    margin-left: 25px;

    &:first-child {
      margin-left: 0px;
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-border-link;
    border-radius: 50%;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-link;

    &:hover {
      color: $color-link-hover;
      border: 1px solid $color-link-hover;
    }

    &:focus {
      outline: 2px solid $color-outline;
      outline-offset: 4px;
      color: $color-link-hover;
      border: 1px solid $color-link-hover;
    }
  }
}

.social_color_black {
  .social__link {
    color: $color-black;
    border: 1px solid $color-black;

    &:hover {
      color: $color-inversion-hover;
      border: 1px solid $color-link-hover;
    }

    &:focus {
      outline: 2px solid $color-outline;
      outline-offset: 4px;
      color: $color-link-hover;
      border: 1px solid $color-link-hover;
    }
  }
}

.social_color_inversion {
  .social__link {
    @include media-breakpoint-down($lg) {
      color: $color-black;
      border: 1px solid $color-black;

      &:hover {
        color: $color-inversion-hover;
        border: 1px solid $color-inversion-hover;
      }

      &:focus {
        outline: 2px solid $color-black;
        outline-offset: 4px;
        color: $color-inversion-hover;
        border: 1px solid $color-inversion-hover;
      }
    }
  }
}
