.index-content {
  width: 100%;
}

.landing-top {
  width: 100%;
  max-height: 901px;
  background: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url(./img/background-top.webp);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;

  &__tagline-wrapper {
    width: 100%;
    max-width: $max-wrapper;
    margin: 0 auto;
    padding-top: 151px;
    padding-bottom: 265px;
  }
}
