extends ../layout/layout.pug
include ../../components/header/header.pug
include ../../components/tagline/tagline.pug

block title 
  title Table reservation

block header 
  section(class="landing-top")
    +header()
    div(class="landing-top__tagline-wrapper")
      +tagline()

block content

  main(class="index-content js-index-content")

