extends ../layout/layout.pug
include ../../components/header/header.pug
include ../../components/tagline/tagline.pug
include ../../components/food-menu/food-menu.pug
include ../../components/interior-presentation/interior-presentation.pug
include ../../components/quote-slider/quote-slider.pug
include ../../components/quote-slider/quote-slider.pug
include ../../components/features/features.pug

block title 
  title Table reservation

block header 
  div(class="landing-top")
    +header()
    div(class="landing-top__tagline-wrapper")
      +tagline()

block content

  -
    const {
      foodMenu,
      quote,
      features,
    } = require('./index.json');

  main(class="index-content js-index-content")
    section(class="timetable")
      h2(class = 'visually-hidden') dishes of the day
      +food-menu(foodMenu)

      +interior-presentation()
    section(class="user-reviews")
      +quote-slider(quote)
      
    section(class="restaurant-features")
      +features(features)



