$background-landing-top: #fff;
$linear-gradient-landing-top: linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51));

.index-content {
  width: 100%;
}

.landing-top {
  width: 100%;
  background: $linear-gradient-landing-top, url(./img/background-top.webp);
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;
  padding-top: 55px;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;

  @include media-breakpoint-down($lg) {
    background: $background-landing-top;
  }

  &__tagline-wrapper {
    width: 100%;
    max-width: $max-wrapper;
    margin: 0 auto;
    padding-top: 151px;
    padding-bottom: 265px;

    @include media-breakpoint-down($lg) {
      padding-bottom: 0px;
    }
  }
}

.timetable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 90px;
  column-gap: 34px;
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;

  @include media-breakpoint-down($lg) {
    flex-direction: column;
    align-items: center;
  }
}

.user-reviews {
  background: #3a4574;
  width: 100%;
  min-height: 782px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;
}

.restaurant-features {
  padding-top: 109px;
  padding-bottom: 80px;

  padding-left: $size-padding;
  padding-right: $size-padding;
  box-sizing: border-box;
}
