extends ../layout/layout.pug
include ../../components/header/header.pug

block title 
  title Table reservation

block header 
  section(class="landing-top")
    +header()

block content

  main(class="index-content")

