$path: "../../assets/fonts/";

$font-bold: "Poppins-Bold";
$font-regular: "Poppins";

@font-face {
  font-weight: normal;
  font-family: Poppins;
  font-style: normal;
  src: url("#{$path}#{$font-regular}.woff2") format("woff2"),
    url("#{$path}#{$font-regular}.woff") format("woff"),
    url("#{$path}#{$font-regular}.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: Poppins;
  font-style: normal;
  src: url("#{$path}#{$font-bold}.woff2") format("woff2"),
    url("#{$path}#{$font-bold}.woff") format("woff"),
    url("#{$path}#{$font-bold}.ttf") format("truetype");
  font-display: swap;
}

//"Poppins", sans-serif, Helvetica, Arial;
