$path: "../../assets/fonts/";

// $font-bold: "Montserrat-Bold";
$font-regular: "Poppins";

@font-face {
  font-family: "Poppins";
  src: url("#{$path}#{$font-regular}.woff2") format("woff2"), url("#{$path}#{$font-regular}.woff") format("woff"),
    url("#{$path}#{$font-regular}.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//"Poppins", sans-serif, Helvetica, Arial;
