include ../booking-form/booking-form.pug

mixin modular-form()
  -
    const BASE_CLASS = 'modular-form';

  div(class=`${BASE_CLASS} js-${BASE_CLASS}`)
    button(class=`${BASE_CLASS}__close js-${BASE_CLASS}__close` type='button') 🗙
    +booking-form({title:'Reserve a table'})
