$color-shadow: rgb(3 3 3 / 19%);
$box-shadow-modular: 0px 4px 19px rgb(83 81 81);
$color-close: #414141;

.modular-form {
  background-color: $color-white;
  width: 100%;
  box-shadow: $box-shadow-modular;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  top: 100px;
  left: 50%;
  transform: translate(-50%);

  max-width: 700px;
  position: absolute;
  padding: 20px;

  &_visible {
    display: flex;
  }

  &__close {
    margin-left: auto;
    width: 35px;
    height: 35px;
    padding: 0;
    cursor: pointer;
    border: 0px;
    background-color: $color-white;
    font-size: 30px;

    &:hover {
      color: $color-close;
    }
  }
}
