$color-border-text: #ccc;
$color-placeholder: #808080;
$color-text-hover: #9a9a9a;

.textarea-field {
  &__label {
    color: $color-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  &__text {
    box-sizing: border-box;
    width: 100%;
    min-height: 125px;
    margin-top: 10px;
    padding-top: 30px;
    padding-right: 16px;
    padding-left: 16px;
    border: 1px solid $color-border-text;
    resize: none;

    &::placeholder {
      color: $color-placeholder;
    }

    &:focus {
      border: 1px solid $color-text-hover;
      outline: 0 solid $color-border-text;
    }
  }
}
