.interior-presentation {
  position: relative;
  width: 100%;
  max-width: 668px;
  height: auto;
  max-height: 637px;
  overflow: hidden;
  aspect-ratio: 471 / 502;

  &__frame {
    position: absolute;
    top: 47.2%;
    left: 49.5%;
    width: 100%;
    max-width: 471px;
    height: auto;
    border: 2px solid $color-brown;
    transform: translate(-50%, -50%);
    aspect-ratio: 471 / 502;

    @include media-breakpoint-down($xs) {
      display: none;
    }
  }

  &__left-image,
  &__right-image {
    position: absolute;
    width: 100%;
    max-width: 323px;
    height: auto;
  }

  &__left-image {
    bottom: 0;
    left: 0;

    @include media-breakpoint-down($xs) {
      display: none;
    }
  }

  &__right-image {
    top: 0;
    right: 0;

    @include media-breakpoint-down($xs) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
