$color-type: #2e2e2e;
$color-contact: #2e2e2e;

.contacts {
  margin: 0;

  &__title {
    margin-bottom: 35px;
    color: $color-black;
    font-weight: 700;
    line-height: 88px;
    @include font-rem(48);
  }

  &__desc {
    margin-left: 0;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    row-gap: 45px;

    @include media-breakpoint-between($md, $lg) {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__disk {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    min-height: 64px;
    margin-right: 16px;
    background-color: $color-brown;
    border-radius: 50%;
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__type {
    color: $color-type;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  &__contact {
    color: $color-contact;
    font-weight: 500;
    line-height: 32px;
    @include font-rem(24);
  }
}
