$color-type: #2e2e2e;
$color-contact: #2e2e2e;

.contacts {
  margin: 0px;

  &__title {
    font-weight: 700;
    @include font-rem(48);
    line-height: 88px;
    color: $color-black;
    margin-bottom: 35px;
  }

  &__desc {
    margin-left: 0px;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    row-gap: 45px;

    @include media-breakpoint-between($md, $lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__disk {
    min-width: 64px;
    min-height: 64px;
    background-color: $color-brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 16px;
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__type {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $color-type;
  }

  &__contact {
    font-weight: 500;
    @include font-rem(24);
    line-height: 32px;
    color: $color-contact;
  }
}
